.loading{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    overflow: hidden;
}
.loading i{
    font-size: 1.7em;
    color: #FFFFFF;
    opacity: 1;
}
.mt50{
    height: 50px;
}
.comments{
    background-color: #d6d6d6;
    border-radius: 5px;
    padding: 10px;
}
.comments .comment-info{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #808080;
    margin-bottom: 20px;
}
.comments .comment-info .comment-content{
    color: #808080;
}
.comments .comment-info .info{
    text-align: right;
    color: #797979;
}
